[Unit]
Description=Flask web server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=root
Group=root
PermissionsStartOnly=true
ExecStart=/storage/aig/directDownload/.venv/bin/gunicorn --workers 4 --bind 0.0.0.0:11731 getinfo:app
WorkingDirectory=/storage/aig/directDownload
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755
