<!DOCTYPE html>
<html>
    <head>
    	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Upload Test</title>

        <style type="text/css">
        </style>
    </head>
    <body>
        <h1>Upload new File</h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{category}}">{{ message | safe}}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </body>
</html>
